/* Reset some browser defaults. */
body,
header,
main,
footer,
h1,
h2,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

/**
* Set the global values.
*/

:root {
  /* Define reusable colours */
  --col_bg: #f2f0df; /* faun */
  --col_text: black;
  --col_link: #3fa435; /* green */

  /* Define reusable font sizes and page spacings */
  --font_base_size: 1.2em;
  --space_big: 2rem;
  --space_medium: 1rem;
  --space_small: 0.5rem;

  /**
  * Main styles inherited by everything else.
  */

  /* The default background colour. */
  background: var(--col_bg);

  /* The default text colour. */
  color: var(--col_text);

  /* Default typeface. */
  font-family: 'Muli', sans-serif;

  /* The base font size that defines all measurements. */
  font-size: var(--font_base_size);

  /* The default element alignment */
  text-align: center;
}

/**
* Default link styles.
*/

a {
  color: var(--col_link);
  font-weight: bolder;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/**
* Default horizontal-rule styles.
*/
hr {
  margin: var(--space_medium) 0;
}

/**
* Default image styles.
*/

/* Don't allow images in article to be wider than the page. */
img {
  max-width: 100%;
  margin-bottom: var(--space_small);
}

/**
* Default paragraph styles.
*/

p {
  margin-bottom: var(--space_small);
}

/**
* Primary sections.
*/

header {
  margin-bottom: var(--space_big);
}

main {
  margin-bottom: var(--space_big);
}

footer {
  margin-bottom: var(--space_medium);
}

/* Large screen horizontal margins */
header,
main,
footer {
  margin-right: var(--space_big);
  margin-left: var(--space_big);
}

/* Smaller screen horizontal margins. */
@media all and (max-width: 800px) {
  header,
  main,
  footer {
    margin-right: 0;
    margin-left: 0;
  }
}

/* Horizontal-rule in the main Header. */

header hr {
  margin: var(--space_big) 0;
}

/**
* Heading spacings.
*/

h1 {
  margin-bottom: var(--space_medium);
}

h2 {
  margin-bottom: var(--space_small);
}

/**
* Styling within the 'article' sections.
*/

/* By default add a left/right margin to articles */
article {
  margin-bottom: var(--space_big);
}

/* Center article headers and leave space to the sides. */
article header {
  margin-right: auto;
  margin-bottom: var(--space_medium);
  margin-left: auto;
}
